@use '../../../styles/mixins' as *;

.filmsList {
  @include content-container;

  &-utils {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &-card {
    max-width: 300px;
  }
}
